@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.title {
		right: 76vw;
		top: 15vh;
		font-family: 'Righteous', cursive;
		font-size: 5vw;
		font-weight: bold;
		float: left;
		position: absolute;
		text-shadow: 1px 1px 2px black;
		color: rgb(255,255,255);
}

.titleLast {
		right: 78vw;
		top: 25vh;
		font-family: 'Righteous', cursive;
		font-size: 5vw;
		font-weight: bold;
		float: left;
		position: absolute;
		text-shadow: 1px 1px 2px black;
		color: rgb(255,255,255);
}

.titleShade {
		font-family: 'Righteous', cursive;
		font-size: 5vw;
		font-weight: bold;
		float: left;
		position: absolute;
		margin: 0;
		width: auto;
}